@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --gradient-color-1: red;
    --gradient-color-2: darkorange;

    --gradient-background: linear-gradient(
        45deg,
        var(--gradient-color-1),
        var(--gradient-color-2)
        );

    --main-font: Montserrat;
    --emphasis-font: Fira Code;

    --main-color: rgb(32, 32, 32);
    --text-color: white;
    --emphasis-color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

	font-size: calc(14px + 0.25vw);
    min-width: 320px;
    font-family: var(--main-font);

    color: var(--text-color);
    background-color: var(--main-color);
}

/*====== Main Layout ======*/

main {
    display: grid;
    grid-template-columns: 1fr min(80ch, 100%) 1fr;
    grid-row-gap: 1em;
}

main > * {
    grid-column: 2;
}

@media screen and (max-width: 125ch) {
        main > :not(.fullwidth) {
        padding: 0.5em;
    }

}

p, li {
    line-height: 1.8em;
}

li {
    list-style-position: inside;
    margin-left: 2em;
}

code {
    background-color: rgb(140, 140, 140, 0.3);
    padding: 0.08em 0.3em;
    font-family: var(--emphasis-font);
    border-radius: 0.2em;
}

/*====== Special Classes ======*/

.fullwidth {
    grid-column: 1 / 4;
}

a{
    background: var(--gradient-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 0.08em 0;
    font-weight: bolder;
}

/*====== Landing Section ======*/

#landing-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--emphasis-font);
    font-size: 2em;
    text-align: center;
    color: var(--emphasis-color);

    background-image: var(--gradient-background);
}

a.down-link {
    -webkit-text-fill-color: var(--emphasis-color);
    -webkit-background-clip: border-box;
    background: none;
    background-color: transparent;

    margin-top: 2em;
    font-size: 0.7em;

    text-decoration: none;
    padding: 0.5em;

    border: 1px solid var(--emphasis-color);
    transition: 0.5s
}

a.down-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

/*====== Stats Section ======*/
section.stats {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

    padding: 0.5em;
    color: var(--emphasis-color);
    background: var(--gradient-background);
    border-radius: 0.25em;
}


@media screen and (max-width: 75ch) {
        section.stats {
        flex-direction: column;
    }

}

section.stats > div {
    display: flex;

    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(10, 10, 10, 0.2);
    border-radius: 0.5em;

    padding: 0.5em;
    margin: 0.5em;

    text-align: center;
}

/*====== Blockquote ======*/

blockquote {
    display: flex;
    justify-content: flex-start;

    background-image: var(--gradient-background);

    padding: 1em;
    color: var(--emphasis-color);

    font-family: var(--emphasis-font);
    font-weight: bolder;

    border-radius: 0.25em;
}

blockquote .quote-line-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 0.5em;
}

blockquote .quote-line-container .quote-line {
    flex-grow: 1;
    width: 1px;
    background-color: var(--emphasis-color);
}

blockquote .quote-line-container .quote-mark {
    font-size: clamp(2em, 10vmax, 4em);
    margin-bottom: -1ch;
}

blockquote .quote-container {
    padding: 1em;
}

blockquote .quote-author::before {
    content: "\2014\00A0";
}

blockquote .quote-author {
    margin-top: 0.5em;
    font-style: italic;
}

footer {
    display: flex;
    justify-content: space-around;
    background: var(--gradient-background);
    color: var(--emphasis-color);
    padding: 1em;
    font-weight: bolder;
    font-family: var(--emphasis-font);
}

em {
    padding-right: 0.01em;
}
